// contrast function - set text color according to background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// transform mixin - for reusibility
@mixin transform($property) {
  --webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
