@import "variables";
@import "functions";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}

// sass nesting - can structure like html, with basic css you would have to use selectors
header {
  background: $dark-color;
  color: set-text-color($dark-color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.section {
  padding: 3rem;
  h3 {
    font-size: 2rem;
  }

  //  & replaces parent so you can nest-style
  &-a {
    background: $primary-color;
    color: set-text-color($primary-color);
  }
  &-b {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

// extended styles for reusibility
%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

// inheritance
.btn {
  &-light {
    @extend %btn-shared;
    background-color: $light-color;
    color: set-text-color($light-color);
  }
  &-dark {
    @extend %btn-shared;
    background-color: $dark-color;
    color: set-text-color($dark-color);
  }
}
